:root {
    --primary: #007b00;
    --lightprimary: #0056b3;
    --white:#ffffff;
    --silver:#bcbcbc9e;
    --defaultLinkColor:#333;
    --yellow:#FFD700;
    --muted:#777777;
    --whiteBG:#F8FAFC;
    --footerBG:#216583;
} 
body{
background-color: var(--white);
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 0 10%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255 255 255 /0.9);
    border-bottom: 1px solid var(--defaultLinkColor);

}
.menu {
    display: flex;
    margin-left: 500px
}
.logo {
    color: var(--lightprimary);
    font-weight: 700;
    font-size: 25px;
}
.logo img {
    color: var(--lightprimary);
}
.menu li {
    margin: 0 15px;
    list-style: none;
}
ul .menu{
    font-weight: bolder;
    font-size: 50px;
}
.menu li a {
     font-size: 20px;
     text-decoration: 0;
     color: var(--muted);
     position: relative;
}
.menu li a::before {
    position: absolute;
    top: -5px;
    left: 0;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 6px;
    background-color: var(--lightprimary);
    transition: 0.5s;
}
.menu li a:hover::before {
    width: 100%;
}
.menu li a::after {
    position: absolute;
    bottom: -5px;
    right: 0;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 6px;
    background-color: var(--lightprimary);
    transition: 0.5s;
}
.menu li a:hover::after {
    width: 100%;
}
.menu li a:hover{
    color: #000;
}
.menu input[type="submit"]{
    color: var(--white);
    background-color: var(--lightprimary);
    border: 5px solid var(--lightprimary); 
    border-radius: 3px;  
    font-size: 18px;
}
.menu input {
    cursor: pointer ;
}
#Home .left h2{
    font-size: 50px;
    font-weight: bold;
    width: 68%;
    
}
#Home .left h2 .text-jaune{
    color: #FFD700;
    
}
#Home{
    justify-content: center;
}
#Home .left p{
    margin-top: -30px;
    font-size: 30px;
    color: #777777;
}
#Home .left .Home-button{
    display: flex;
    width: 100%;
    margin-top: 50px;
    
    
}
.button-bleu{
    width: 30%;
    color: var(--white);
    background-color: var(--lightprimary);
    border: 1px solid var(--lightprimary); 
    border-radius: 15px;  
    font-size: 15px; 
    padding: 13px; 
    cursor: pointer;
}
.button-blanc{
    width: 30%;
    color: var(--defaultLinkColor);
    background-color:var(--whiteBG) ;
    border: 1px solid var(--muted); 
    border-radius: 15px;  
    font-size: 15px;  
    padding: 13px; 
    margin-left: 90px;
    cursor: pointer;
}
#Home {
    display: flex;
    width: 100%;
    height: 100vh;
    border: 15px;
}
.left{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction:column;
    margin-left: 50px;
}
.right{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction:column;
}
.right img {
    flex-direction:column ;
}
#Home .services{
    display: flex;
    
} 
.blue {
    display: flex;
    background-color:var(--lightprimary);
    padding-top:30px;
    justify-content: center;
}
.blue .left-blue {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction:column;
    margin-left: 50px;  
    color: var(--whiteBG);
}
.blue .left-blue h3{
    font-size: 30px;
    font-weight: bold; 
    margin-top: 0;  
}
.blue .left-blue p{
    margin-top: -20px;
}
.blue .right-blue{
    display: flex;
    margin: 0 0 15px;   
}
.blue .right-blue .icon {
    color: var(--muted);
    background-color: var(--white);
    margin: 0 15px;
    /* font-weight: bold; */
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.blue .right-blue .icon img {
    width: 40px;
    margin-bottom: 0;
}
#services .first-section {
    display: flex;  
}
#services .first-section .first-right  h4 {
    margin: 0px;
    transform: translate(250px);
    font-weight: bold; 
    font-size: 25px;  
}
#services .first-section .first-left {
    border-radius: 0 0 50px;
    justify-content: left;  
    background-color: var(--whiteBG);
    padding-bottom: 90px;
    height: 50%;
    width: 35%;
   
}
#services .first-section .first-right{
    margin-top: 100px;
    margin-left: -90px;
    display: flex;
    padding: 50px;
    
}
#services .first-section .first-right .block1{
    margin-top: 50px;      
}
#services .first-section .first-right .block1 p {
    margin-top: -24px;
    margin-left: 30px;
}
#services .first-section .first-right .block2{
    margin-top: 50px;
    margin-left: 50px;
    
    
}
#services .first-section .first-right .block2 p{
    margin-top: -24px;
    margin-left: 30px;
    
}
.second-section {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-around;
    margin-top: 100px;
    margin: 100px;
    margin-left: 200px;
}
.second-section .sous-section {
    height: 260px;
    width: 23%;
    background-color: var(--whiteBG);
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 6px;
    margin-bottom: 35px;
}
.second-section .sous-section img {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}
.second-section .sous-section h5 {
    text-align: center;
    font-size: 20px;
}
.second-section .sous-section p{
    text-align: center;
    
}
.first-blue{
    text-align: center;
    background-color: var(--lightprimary);
    padding: 30px;
    color: var(--white);
    justify-content: center;
    font: 2em sans-serif;
}
.first-blue h6 {
    font-size: 20px;
}
h6 .gras{
    font-weight: bold;
    color:var(--white);
    font-size: 35px;
}
.first-blue .blue-p {
    width: 75%;
    margin-left: 170px;

}
.first-blue .button{
    background-color: var(--lightprimary);
    border: 3px solid var(--white);
    padding: 15px;
    color: var(--white);
    border-radius: 15px;
    width: 15%;
    font-size: 15px;
}
.separation{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.separation .separe {
    width: 80%;
}
#services.separation .separe #pseparation{
    margin-top: 100px;
   
}
#pseparation{
    margin-top: 100px;
    font-size: 25px;
}
.separation .separe .separ1{
    width: 90%;
    display: flex;
    justify-content: end;
    border-bottom: 1px solid var(--defaultLinkColor);
}

.separation .separe .separ1 span{
    color: var(--yellow);
}

.separation .separe .separ{
    display: flex;
    justify-content: space-between;
    margin-top: -40px;
    font-size: 30px;
}

.separation{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.separation .separe {
    width: 80%;
}
#services.separation .separe #pseparation{
    margin-top: 100px;
   
}
#pseparation{
    margin-top: 100px;
    font-size: 25px;
}
.separation .separe .separ1{
    width: 90%;
    display: flex;
    justify-content: end;
    border-bottom: 1px solid var(--defaultLinkColor);
}

.separation .separe .separ1 span{
    color: var(--yellow);
}

.separation .separe .separ{
    display: flex;
    justify-content: space-between;
    margin-top: -40px;
    font-size: 30px;
}

#historic .contenair{
    display: flex;
    margin-top: 80px;
    align-content: space-evenly;
    justify-content: space-around;
    justify-content: center;
}
#historic .contenair .third-right{
    height: 260px;
    width: 34%;
    background-color: #F8FAFC;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    margin-bottom: 35px;
    margin-left: 50px;
    margin-top: 13px;  
}
#historic .contenair .third-left img{
    box-shadow: 15px solid #777777;
}
.registre {
    text-align: center;
    margin-bottom: 20px;
    background-color: #F8FAFC;
    margin-top: 150px;
    padding: 30px;

}

.gras {
    color: #000;
    font-weight: bold;
    font-size: 50px;
}

#registre .registre .separation .line #pline{
    margin-top: 100px;
    margin-right: 1160px;
    font-size: 30px;
    margin-bottom: -50px;
}
#registre .registre .separation .line .separator1{
    width: 90%;
    display: flex;
    justify-content: end;
    border-bottom: 1px solid var(--defaultLinkColor);
}

#registre .registre .separation .line .separator1 span{
    color: var(--yellow);
}

#registre .registre .separation .line .separator{
    display: flex;
    justify-content: space-between;
    margin-top: -25px;
    font-size: 40px;
}
.separation .line{
    width: 90%;
}
.registre .doctor{
    display: flex;
    flex-direction: row;
    margin-left: 11%;
    margin-top: 50px;
}
.registre .doctor img{
    width: 100%;
}
.registre .doctor .doctor-profil{
    margin: 0 30px;
    padding: 20px;
    width: 15.5%;
}
.registre .doctor .doctor-profil h5{
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}
.registre .doctor .doctor-profil p{
    margin-top: 50px;
    color: #777777;
    text-align: center;
    font-size: 15px;
    width: 70%;
    margin-left: 35px;
}
.registre .doctor .button{
    border: 1px solid var(--lightprimary);
    width: 55%;
    border-radius: 5px;
    color: var(--lightprimary);
    padding: 10px;

}
.registre .second-blue{
    margin-top: 100px;
    background-color: var(--lightprimary);
    display: flex;
    padding: 40px;
    text-align: center;
    height: 120%;
    
}

.registre .second-blue .customer-point h3{
    text-align: center;
    width: 30%;
    display: flex;
    margin-left: 30%;
    font-size: 25px;
    color: var(--white);
}
.registre .second-blue .customer-point p{
    text-align: center;
    width: 40%;
    display: flex;
    margin-left: 30%;
    font-size: 20px;
    color: var(--white);
}
.registre .second-blue p{
    text-align: center;
    width: 40%;
    display: flex;
    margin-left: 30%; 
    font-size: 20px;
    
}
.registre .second-blue .customer-profil img{
    display: flex;
    padding: 40px;
    height: 80%;
    background-color: #ffffff;
    width: 90%;
    margin-top: -20px;
    margin-left: 100px;
    padding-bottom: 70px;
    border-radius: 10px;
}
.registre .second-blue .customer-profil p{
    margin-top: -40px;
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    margin-left: 180px;
}
.formulaire {
    display: flex;
    margin-left: -90px;
    margin-bottom: -180px;
    margin-top: 100px;
    justify-content: center;


}
.formulaire .fourth-left img{
    width: 90%;
}
.formulaire .fourth-right .corps-formulaire{
    display: flex;
    width: 110%;
    margin-left: 170px;
}
.formulaire .fourth-right {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 40px;
}
.corps-formulaire .gauche .groupe input{
    margin: 20px;
    font-size: 15px;
    padding: 5px ;
    border-radius: 10px;
    width: 92%;
    margin-left: -50px;
    padding-left: 20px;
    
}
.corps-formulaire .droite .groupe input{
    margin: 20px;
    font-size: 15px;
    padding: 5px ;
    border-radius: 10px;
    width: 92%;
    margin-left: -50px;
    padding-left: 20px;
}
.corps-formulaire{
    width: 80%;
}
.corps-formulaire .droite{
    margin-left: 30px;
}
.formulaire form .pied-formulaire{
    margin-bottom: 100px;
    margin-left: 23%;
    
}
form .checkbox{
    margin-top: -70px;
    margin-left: 115px;
    font-size: 15px;
}
.formulaire .fourth-right input[type=submit]{
    margin-left: 120px;
    width: 100%;
    padding: 15px;
    margin-top: 35px;
    border-radius: 10px;
    background-color: var(--footerBG);
    color: #ffffff;
}
#subcribe{
    background-color: #F8FAFC;
}
#subcribe form .third-blue{
    background-color:#213a54; 
    text-align: center;
    padding: 60px;
    border-radius: 15px;
    height: 15%;
    width: 70%;
    font-size: 30px;
    margin-top: 400px;
    margin-left: 200px;
    
} 

#subcribe form .third-blue .all-button {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
    justify-content: center;
   
}
#subcribe form .third-blue .all-button input[type="text"]{
    background-color: var(--footerBG);
    font-size: 18px;
    width: 31%;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    color: white;
}
#subcribe form .third-blue .all-button .submit{
    background-color: #ffffff;
    font-size: 18px;
    width: 31%;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    color:black;
   
}
.third-blue .subcribe-title h6{
    color: #ffffff;
    margin-bottom: 0;
    margin: 30px;
    font-size: 30px;
}
#blue-end{ 
    padding: 50px;
    width: 95% ;
    margin-left: -20px;
}
#blue-end .pied-page{
    display: flex;
    justify-content: center;
    color: #ffffff;
    background: #0056b3;
    padding: 50px;
    margin-top: 150px;
    margin-left: -30px;
    margin-bottom: -50px;
    width: 97.2%;

}
#blue-end .pied-page .first-level{
    width: 15%;
    flex-direction: column;
}
#blue-end .pied-page .first-level img{
    color: #ffffff;
    filter: invert(100%);
    filter: brightness(100);

}
#blue-end .pied-page .second-level{
    width: 15%;
    text-align: center;
    flex-direction: column;
   
}
#blue-end .pied-page .second-level h5{
    font-size: 20px;
    width: 80%;
    font-weight: bold;
   
}
.pied-page .third-level .fifth-left a{
    text-decoration: none;
    color: #ffffff;
}
.pied-page .third-level .fifth-right a{
    text-decoration: none;
    color: #ffffff;
}
#blue-end .pied-page .third-level{
    width: 15%;
    text-align: center;
    
}
.pied-page .third-level .social-network {
display: flex;
margin: 8px;
}
.pied-page .third-level .social-network .fifth-right{
    margin-left: 80px;
    width: 20%;
}
#blue-end .pied-page .fourth-level{
    width: 15%;
    flex-direction: column;
}
footer{
    display: flex;
    text-align: center;
    background-color: #213b57;
    justify-content: center;
    color: #ffffff;
    margin-bottom: -90px;
    padding: 8px;
    margin-left: O;
    width: 97.5%;
}



