:root {
    --primary: #007b00;
    --lightprimary: #0056b3;
    --white:#ffffff;
    --silver:#bcbcbc9e;
    --defaultLinkColor:#333;
    --yellow:#FFD700;
    --muted:#777777;
    --whiteBG:#F8FAFC;
    --footerBG:#216583;
} 
body{
background-color: white;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 0 10%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255 255 255 /0.9);
    box-shadow: 0 0 10px #333;
    z-index: 10;
}
.menu {
    display: flex;
}
.logo {
    color: #0056b3;
    font-weight: 700;
    font-size: 25px;
}
.logo img {
    color: #0056b3;
}
.menu li {
    margin: 0 15px;
    list-style: none;
}
ul .menu{
    font-weight: bolder;
    font-size: 50px;
}
.menu li a {
     font-size: 20px;
     text-decoration: 0;
     color: #777777;
     position: relative;
}
.menu li a::before {
    position: absolute;
    top: -5px;
    left: 0;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 6px;
    background-color: #0056b3;
    transition: 0.5s;
}
.menu li a:hover::before {
    width: 100%;
}
.menu li a::after {
    position: absolute;
    bottom: -5px;
    right: 0;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 6px;
    background-color: #0056b3;
    transition: 0.5s;
}
.menu li a:hover::after {
    width: 100%;
}
.menu li a:hover{
    color: #000;
}
.menu input[type="submit"]{
    color: #ffff;
    background-color: #0056b3;
    border: 5px solid #0056b3; 
    border-radius: 3px;  
    font-size: 18px;
}
#Home .left h2{
    font-size: 50px;
    font-weight: bold;
    width: 68%;
    
}
#Home .left h2 .text-jaune{
    color: #FFD700;
    
}
#Home .left p{
    margin-top: -30px;
}
.btn{
    margin-top: 30px;
}
.btn1{
    margin: 0 15px;
    color: #ffffff;
    background-color: #0056b3;
    border: 1px solid #0056b3; 
    border-radius: 3px;  
    font-size: 15px; 
    padding: 5px; 
}
.btn2{
    margin: 0 15px;
    color: #333;
    background-color:#F8FAFC ;
    border: 1px solid #bcbcbc9e; 
    border-radius: 3px;  
    font-size: 15px;  
    padding: 5px;
}
#Home {
    display: flex;
    width: 100%;
    height: 100vh;
    border: 15px;
}
.left{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction:column;
    margin-left: 50px;
}
.right{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction:column;
}
.right img {
    flex-direction:column ;
}
#Home .services{
    display: flex;
    
} 
.blue {
    display: flex;
    background-color: #0056b3;
    padding-top:60px;
}
.blue .left-blue {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction:column;
    margin-left: 50px;  
    color: #F8FAFC;
}
.blue .left-blue h3{
    font-size: 30px;
    font-weight: bold; 
    margin-top: 0;  
}
.blue .left-blue p{
    margin-top: -20px;
}
.blue .right-blue{
    display: flex;
    margin: 0 0 15px;   
}
.blue .right-blue .icon {
    color: #333;
    background-color: #ffffff;
    margin: 0 15px;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px;
}
.blue .right-blue .icon img {
    transform: translate(50px, 10px);
}
#services .section1 {
    display: flex;  
}
#services .section1 .right1  h4 {
    margin: 0px;
    transform: translate(250px);
    font-weight: bold; 
    font-size: 25px;  
}
#services .section1 .left1 {
    border-radius: 0 0 50px;
    justify-content: left;  
    background-color: #F8FAFC;
    padding: 30px;
    height: 50%;
   
}
#services .section1 .right1{
    margin-top: 100px;
    margin-left: 90px;
    display: flex;
    padding: 50px;
}
#services .section1 .right1 .block1{
    margin-top: 50px;      
}
#services .section1 .right1 .block1 p {
    margin-top: -24px;
    margin-left: 30px;
}
#services .section1 .right1 .block2{
    margin-top: 50px;
    margin-left: 50px;
    
}
#services .section1 .right1 .block2 p{
    margin-top: -24px;
    margin-left: 30px;
}
#services .separation hr {
    margin-left: 100px;
    margin-top: -30px;
}
#services .separation h5{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: -30px;
       
}
#services .separation h1{
    text-align: right;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 50px; 
}
#services .separation h1 .text-jaune{
    color: #FFD700;
}
.carré {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-around;
    margin-top: 100px;
    margin: 100px;
}
.carré .sous-carré {
    height: 260px;
    width: 23%;
    background-color: #F8FAFC;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 6px;
    margin-bottom: 35px;
}
.carré .sous-carré img {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}
.carré .sous-carré h5 {
    text-align: center;
    font-size: 20px;
}
.carré .sous-carré p{
    text-align: center;
}
.first-blue{
    text-align: center;
    background-color: #0056b3;
    padding: 30px;
    color: #ffffff;
    justify-content: center;
    font: 2em sans-serif;
}
.first-blue h6 {
    font-size: 20px;
}
h6 .gras{
    font-weight: bold;
    color:#ffffff;
    font-size: 35px;
}
.first-blue .blue-p {
    width: 75%;
    margin-left: 170px;
}
.first-blue .button{
    background-color: #0056b3;
    border: 3px solid #ffffff;
    padding: 15px;
    color: #ffffff;
    border-radius: 15px;
    width: 15%;
    font-size: 15px;
}
.separation {
    text-align: center;
    margin-bottom: 20px;
}
.separation h5 {
    margin-bottom: -30px;
    font-size: 32px;
    
}
.separation h1 {
    margin-top: 90px;
    font-size: 30px;
    color: #333;
}
.gras {
    color: #000;
    font-weight: bold;
    font-size: 50px;
}
.text-jaune {
    color: yellow;
}
.separation hr {
    border: none;
    border-top: 2px solid black;
    width: 100%;
    margin-top: 10px;
    margin-bottom: -100px;
}
.line {
    display: flex;
    align-items: center;
    justify-content: center;
}
.line h5, .line h1 {
    flex: 1;
}
.line hr {
    flex: 5;
}
#historic .contenair{
    display: flex;
    margin-top: 80px;
    align-content: space-evenly;
    justify-content: space-around;
}
#historic .contenair .right3{
    height: 260px;
    width: 34%;
    background-color: #F8FAFC;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    margin-bottom: 35px;
    margin-left: 50px;
    margin-top: 13px;  
}
#historic .contenair .left3 img{
    box-shadow: 15px solid #777777;
}
.registre {
    text-align: center;
    margin-bottom: 20px;
    background-color: #F8FAFC;
    margin-top: 150px;
    padding: 30px;

}
.registre h5 {
    margin-bottom: -30px;
    font-size: 32px;
    
}
.registre h1 {
    margin-top: 90px;
    font-size: 30px;
    color: #333;
}
.gras {
    color: #000;
    font-weight: bold;
    font-size: 50px;
}
.text-jaune {
    color: yellow;
}
.registre hr {
    border: none;
    border-top: 2px solid black;
    width: 100%;
    margin-top: 10px;
    margin-bottom: -100px;
}
.line {
    display: flex;
    align-items: center;
    justify-content: center;
}
.line h5, .line h1 {
    flex: 1;
}
.line hr {
    flex: 5;
}
.registre .doctor{
    display: flex;
    flex-direction: row;
    margin-left: 11%;
    margin-top: 50px;
}
.registre .doctor img{
    width: 100%;
}
.registre .doctor .medecin{
    margin: 0 30px;
    padding: 20px;
    width: 15.5%;
}
.registre .doctor .medecin h5{
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}
.registre .doctor .medecin p{
    margin-top: 50px;
    color: #777777;
    text-align: center;
    font-size: 15px;
    width: 70%;
    margin-left: 35px;
}
.registre .doctor .button{
    border: 1px solid #0056b3;
    width: 55%;
    border-radius: 5px;
    color: #0056b3;
    padding: 10px;

}
.registre .bleu{
    margin-top: 100px;
    background-color: #0056b3;
    display: flex;
    padding: 40px;
    text-align: center;
    height: 120%;
    
}

.registre .bleu .point h3{
    text-align: center;
    width: 30%;
    display: flex;
    margin-left: 30%;
    font-size: 25px;
    color: #ffffff;
}
.registre .bleu .point p{
    text-align: center;
    width: 40%;
    display: flex;
    margin-left: 30%;
    font-size: 20px;
    color: #ffffff;
}
.registre .bleu p{
    text-align: center;
    width: 40%;
    display: flex;
    margin-left: 30%; 
    font-size: 20px;
}
.registre .bleu .client img{
    display: flex;
    padding: 40px;
    height: 80%;
    background-color: #ffffff;
    width: 100% ;
    margin-top: -20px;
    margin-left: 100px;
}
.registre .bleu .client p{
    margin-top: -25px;
    font-size: 14px;
    width: 100%;
    font-weight: bold;
    margin-left: 200px;
}
.formulaire {
    display: flex;
    width: 100%;
}
.formulaire .left4 img{
    width: 100%;
}
.formulaire .form .corps-formulaire{
    display: flex;
    width: 100%;
    margin-left: 100px;
    /* padding: 50px; */
    /* margin:100px; */

}
.formulaire .form {
    display: flex;
    flex-direction: column;
    width: 30%;
    /* margin-bottom: 30px; */
}
.corps-formulaire .gauche .groupe input{
    margin: 20px;
    font-size: 15px;
    padding: 5px ;
    border-radius: 10px;
    width: 90%;
    margin-left: -10px;
    
}
.corps-formulaire .droite .groupe input{
    margin: 20px;
    font-size: 15px;
    padding: 5px ;
    border-radius: 10px;
    width: 90%;
    margin-left: -10px;
}
.corps-formulaire{
    width: 90%;
}
.corps-formulaire .droite{
    margin-left: 30px;
}
.formulaire .form .globe .pied-formulaire{
    margin-bottom: 100px;
    margin-left: 20%;
    
}
#subcribe .font .blue-end{
    background-color:var(--footerBG);
    
    text-align: center;
    padding: 60px;
    border-radius: 15px;
    height: 15%;
    width: 70%;
    font-size: 30px;
    margin-top: 400px;
    margin-left: 200px;
    
} 

#subcribe .font .blue-end .btns .button{
    background-color:var(--silver);
    font-size: 18px;
    width: 31%;
    margin: 5px;
    padding: 15px;
    border-radius: 10px;
    color: #ffffff;
   
}
#subcribe .font .blue-end .btns .blanc{
    background-color: #ffffff;
    font-size: 18px;
    width: 31%;
    margin: 5px;
    padding: 15px;
    border-radius: 10px;
    color:black;
   
}
.blue-end .bleu2 h6{
    color: #ffffff;
    margin-bottom: 0;
    margin: 30px;
    font-size: 30px;
}
#blue-endd .bas-page{
    display: flex;
    justify-content: center;
    color: #ffffff;
    background: #0056b3;
    padding: 50px;
    margin-top: 150px;
}
#blue-endd .bas-page .part1{
    width: 15%;
    flex-direction: column;
}
#blue-endd .bas-page .part1 img{
    color: #ffffff;
    filter: invert(100%);
    filter: brightness(100);

}
#blue-endd .bas-page .part2{
    width: 15%;
    text-align: center;
    flex-direction: column;
   
}
#blue-endd .bas-page .part2 h5{
    font-size: 20px;
    width: 80%;
    font-weight: bold;
   
}
#blue-endd .bas-page .part3{
    width: 15%;
    text-align: center;
    
}
.bas-page .part3 .para2 {
display: flex;
margin: 8px;
}
.bas-page .part3 .para2 .right6{
    margin-left: 80px;
    width: 20%;

}
#blue-endd .bas-page .part4{
    width: 15%;
    flex-direction: column;

}
footer{
    display: flex;
    text-align: center;
    background-color: #213b57;
    justify-content: center;
    color: #ffffff;
}
.formulaire .form .checkbox{
    margin-top: -70px;
    margin-left: 90px;
    font-size: 15px;
}
.formulaire .form input[type=submit]{
    margin-left: 90px;
    width: 100%;
    padding: 15px;
    margin-top: 35px;
    border-radius: 10px;
    background-color: #216583;
    color: #ffffff;
}


